<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://github.com/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://github.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<div>Address Page</div>