<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoObject",
  "name": "Title",
  "description": "Video description",
  "thumbnailUrl": "http://www.nodeunify.com/images/portfolio/full/item1.jpg",
  "uploadDate": "2015-02-05T08:00:00+08:00",
  "duration": "PT1M33S",
  "contentUrl": "https://www.youtube.com/watch?v=y0smpabqHnw",
  "embedUrl": "https://www.youtube.com/embed/y0smpabqHnw",
  "interactionCount": "2347"
}
</script>

<div>Payment Page</div>