</html>
  <head lang="en">
    <base href="/">
              <!-- build:css(.) app.min.css -->
              <!-- inject:build.css -->
              <!-- endinject -->
              <!-- endbuild -->
  </head>
  <body>
              <script type="application/ld+json">
                    {
                           "@context": "http://schema.org",
                           "@type": "Organization",
                           "name" : "HyperCloud",
                           "address": {
                                  "@type": "PostalAddress",
                                  "addressLocality": "Paris, France",
                                  "postalCode": "F-75002",
                                  "streetAddress": "38 avenue de l'Opera"
                           },
                           "contactPoint" : [{
                                  "@type" : "ContactPoint",
                                  "telephone" : "+1-401-555-1212",
                                  "contactType" : "customer service"
                           }],
                           "url": "http://www.nodeunify.com",
                           "logo": "http://www.nodeunify.com/images/logo.png"
                    }
              </script>

    <a href="/page/product" class="btn btn-std btn-default">Product</a>
    <a href="/page/address" class="btn btn-std btn-default">Address</a>
    <a href="/page/payment" class="btn btn-std btn-default">Payment</a>
    <div ui-view></div>

              <!-- build:js(.) app.min.js -->
              <!-- inject:build.js -->
              <!-- endinject -->
              <!-- endbuild -->
              <!-- build:remove -->
         <script src="jspm_packages/system.js"></script>
              <script src="config.js"></script>
         <script>
                    System.import('app/bootstrap').catch(console.error.bind(console));
              </script>
              <!-- endbuild -->
  </body>
</html>